*{
  font-family:sans-serif;
}

.firstName,.lastName,.email,.phn,.pwd1,.pwd2,.username,.shippingAddress
  {
   
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: steelblue 1px solid;
    
    
   
  }
  a{
    text-decoration: none !important;
    color: black !important;
  }
  
  .errorlist
  {
    color: red;
  }
  :focus {
    outline: none;
  }

  


  
 
 

  .search-form-container {
    width: 50%;
  }
  
  @media screen and (max-width: 992px) {
    .search-form-container {
     width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .search-form-container {
     width: 100%;
    }
  }






  .logo-title
  {
    font-family: 'Rampart One', cursive;
    
  }

  

  .navbar-div
  {
     background-color: rgb(174, 236, 174);
     
  

  }



  
  

  

  

 
  
  
  








  













  /* font-family: 'Bebas Neue', cursive;
font-family: 'Cookie', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif; */
 
 
  
